@model Luciferin.Website.Models.RequisitionList

@if (Model.AnyRequisitions)
{
    <div class="mt-5">
        <h4>Connected accounts:</h4>
    </div>

    <ul class="list-group">
        @foreach (var requisition in Model.Requisitions)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge badge-primary badge-pill" style="min-width: 65px;">@requisition.Status</span>
                <span class="pl-3 flex-grow-1 text-left">@requisition.Reference (@requisition.Id)</span>

                @using (Html.BeginForm(MVC.Configuration.ActionNames.DeleteBank, MVC.Configuration.Name))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="@MVC.Configuration.DeleteBankParams.requisitionId" value="@requisition.Id" />

                    @if(Model.Deletable)
                    {
                        <button type="submit" class="btn btn-danger">Delete</button>
                    }
                }
            </li>
        }
    </ul>
}